# Asosiy Server Konfiguratsiyasi
PORT=3000
BASE_URL=http://189.74.97.98

# Xavfsizlik & JWT
JWT_SECRET_KEY=super-maxfiy-kalit-bu-yerga-yoziladi-2026

# Gemini AI Kaliti
GEMINI_API_KEY=sizning_gemini_api_kalitingiz

# Admin Subdomen Sozlamalari (ixtiyoriy)
ADMIN_SUBDOMAIN_PREFIX=khv
